# .env file
.env
.env.test
# Local only folder that has pre git, first version of the code 
legacy
# Weird thing Mac inserts
.DS_Store
# Celery DB which will be recreated locally
celerybeat-schedule.db
# Cache
__pycache__/
*.pyc
# tasks, like my command to push staging into prod
.vscode/
# local python env
as-env/
# Folder where I store context purely for CursorAI
# .cursorai/
